@model HospitalManagement.Models.Patient

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginPage.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="account-logo">
            <a href=""><img src="@Url.Content("~/Content/LoginPage/assets/")img/logo-dark.png" alt=""></a>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PatientId)

        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group text-right">
            <a href="#">Forgot your password?</a>
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary account-btn">Login</button>
        </div>
        <div class="text-center register-link">
            Don’t have an account? <a href="/Home/Register">Register Now</a>
        </div>
    </div>
}


<script src="@Url.Content("~/Content/Template/assets/")js/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
