@using HospitalManagement.Models

@model List<Prescription>

<table cellspacing="10">
    <tr>
        <th> PId</th>
        <th> DoctorId  </th>
        <th> PatientId  </th>
        <th> Symptoms  </th>
        <th>  Diagnosis  </th>
        <th> Advice  </th>
        <th>   Medication  </th>
        <th>  Date  </th>
    </tr>
    @foreach (Prescription prescription in Model)
    {
    <tr>
        <td>@prescription.PId</td>
        <td>@prescription.DoctorId</td>
        <td>@prescription.PatientId</td>
        <td>@prescription.Symptoms</td>
        <td>@prescription.Diagnosis</td>
        <td>@prescription.Advice </td>
        <td>@prescription.Medication</td>
        <td>@prescription.Date</td>
    </tr>
    }
</table>