<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/main2/")assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/main2/")assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/main2/")assets/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/main2/")assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/main2/")assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/main2/")assets/css/style.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="@Url.Content("~/Content/main2/")assets/js/jquery-3.2.1.min.js"></script>
    <script src="@Url.Content("~/Content/main2/")assets/js/popper.min.js"></script>
    <script src="@Url.Content("~/Content/main2/")assets/js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Content/main2/")assets/js/jquery.slimscroll.js"></script>
    <script src="@Url.Content("~/Content/main2/")assets/js/app.js"></script>
    <script src="@Url.Content("~/Content/main2/")assets/js/select2.min.js"></script>
    <script src="@Url.Content("~/Content/main2/")assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="@Url.Content("~/Content/main2/")assets/js/addbutton.js"></script>
</body>
</html>
