<!DOCTYPE html>

<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Hospital Management</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/Medino/assets/")images/logo/favicon.png" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Medino/assets/")css/animate-3.7.0.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/Medino/assets/")css/font-awesome-4.7.0.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/Medino/assets/")css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/Medino/assets/")css/owl-carousel.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/Medino/assets/")css/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/Medino/assets/")css/linearicons.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/Medino/assets/")css/style.css">
</head>
<body>

    <body>
        <!-- Preloader Starts -->
        <div class="preloader">
            <div class="spinner"></div>
        </div>
        <!-- Preloader End -->
        <!-- Header Area Starts -->
        <header class="header-area">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 d-md-flex">
                            <h6 class="mr-3"><span class="mr-2"><i class="fa fa-mobile"></i></span> call us now! +880 1521333333</h6>
                            <h6 class="mr-3"><span class="mr-2"><i class="fa fa-envelope-o"></i></span> hospital@gmail.com</h6>
                            <h6><span class="mr-2"><i class="fa fa-map-marker"></i></span> Find our Location</h6>
                        </div>
                        <div class="col-lg-3">
                        </div>
                    </div>
                </div>
            </div>
            <div id="header" id="home">
                <div class="container">
                    <div class="row align-items-center justify-content-between d-flex">
                        <div id="logo">
                            <a href=@Request.Url.OriginalString><img src="@Url.Content("~/Content/Medino/assets/")images/logo/logo.png" alt="" title="" /></a>
                        </div>
                        <nav id="nav-menu-container">
                            <ul class="nav-menu">
                                <li class="menu-active"><a href=@Request.Url.OriginalString>Home</a></li>
                                <li><a href='#Department'>departments</a></li>
                                <li><a href='/Home/Doctor'>Doctors</a></li>
                                @if (Session["UserId"] == null)
                                {
                                    <li><a href='/Home/Login'>Login</a></li>
                                    <li><a href="/Home/Register"> Register</a></li>
                                }
                                else
                                {
                                    if (Session["DoctorId"] == null)
                                    {
                                        <li><a href='/Home/Test'> My Profile</a></li>
                                    }
                                    else
                                    {
                                        <li><a href='/Home/DocProfile'> My Profile</a></li>
                                    }
                                }
                            </ul>
                        </nav><!-- #nav-menu-container -->
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Area End -->
        <!-- Banner Area Starts -->
        <section class="banner-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <h4>Caring for better life</h4>
                        <h1>Leading the way in medical excellence</h1>
                        <p>
                            Now, you can book your appointment online!
                        </p>
                        @if (Session["UserId"] == null && Session["DoctorId"] == null)
                        {
                            <a href="/Home/Register" class="template-btn mt-3"> Register </a>
                        }
                        else if (Session["DoctorId"] != null)
                        {
                            <a href="/Home/DocProfile" class="template-btn mt-3"> Go to profile </a>
                        }
                        else if (Session["UserId"] != null)
                        {
                            <a href="/Home/Test" class="template-btn mt-3"> Go to profile </a>
                        }
                    </div>
                </div>
            </div>
        </section>
        <!-- Banner Area End -->
        <!-- Feature Area Starts -->
        <section class="feature-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-feature text-center item-padding">
                            <img src="@Url.Content("~/Content/Medino/assets/")images/icon-doctor.png" alt="">
                            <h3>Find Doctors</h3>
                            <p class="pt-3"> Know more about doctors, biography, specializations and feel comfortable to choose who you want.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-feature text-center item-padding mt-4 mt-md-0">
                            <img src="@Url.Content("~/Content/Medino/assets/")images/icon-results.png" alt="">
                            <h3>Check test results</h3>
                            <p class="pt-3"> You could see the result of examinations and authorizations pending. Everything Online!</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-feature text-center item-padding mt-4 mt-lg-0">
                            <img src="@Url.Content("~/Content/Medino/assets/")images/icon-edit.png" alt="">
                            <h3>Modify, Cancell or Print</h3>
                            <p class="pt-3"> You can create your appointment online also modify, Cancel or Print it. Where you want!</p>
                        </div>

                    </div>
                </div>
        </section>
        <!-- Feature Area End -->
        <!-- Welcome Area Starts -->
        <section class="welcome-area section-padding3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 align-self-center">
                        <div class="welcome-img">
                            <img src="@Url.Content("~/Content/Medino/assets/")images/welcome.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="welcome-text mt-5 mt-lg-0">
                            <h2>Welcome to our hospital</h2>
                            <p class="pt-3">Book, cancel or reschedule appointment instantly on the website. Once you are registered, you can receive all of your prescriptions and test results here.</p>
                            <p>No need to worry about your reports and prescriptions. Now you'll have all of them in one place! Secured and never to be lost! </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Welcome Area End -->
        <!-- Department Area Starts -->
        <a name="Department" </a>
        <section class="department-area section-padding4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                        <div class="section-top text-center">
                            <h2>Popular department</h2>
                            <p>All departments have highly qualified doctors who diagnose and treat patients professionally.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="department-slider owl-carousel">
                            <div class="single-slide">
                                <div class="slide-img">
                                    <img src="@Url.Content("~/Content/Medino/assets/")images/department1.jpg" alt="" class="img-fluid">
                                    <div class="hover-state">
                                        <a href=""><i class="fa fa-stethoscope"></i></a>
                                    </div>
                                </div>
                                <div class="single-department item-padding text-center">
                                    <h3>Medicine</h3>
                                    <p> A physician is a practitioner who practices medicine and seeks to maintain and restore human health through the study, diagnosis, and treatment of the patient's illness or injury.</p>
                                </div>
                            </div>
                            <div class="single-slide">
                                <div class="slide-img">
                                    <img src="@Url.Content("~/Content/Medino/assets/")images/department2.jpg" alt="" class="img-fluid">
                                    <div class="hover-state">
                                        <a href=""><i class="fa fa-stethoscope"></i></a>
                                    </div>
                                </div>
                                <div class="single-department item-padding text-center">
                                    <h3>Surgery</h3>
                                    <p>A physician is a practitioner who practices medicine and seeks to maintain and restore human health through the study, diagnosis, and treatment of the patient's illness or injury.</p>
                                </div>
                            </div>
                            <div class="single-slide">
                                <div class="slide-img">
                                    <img src="@Url.Content("~/Content/Medino/assets/")images/department3.jpg" alt="" class="img-fluid">
                                    <div class="hover-state">
                                        <a href=""><i class="fa fa-stethoscope"></i></a>
                                    </div>
                                </div>
                                <div class="single-department item-padding text-center">
                                    <h3>Orthopedic</h3>
                                    <p>A physician is a practitioner who practices medicine and seeks to maintain and restore human health through the study, diagnosis, and treatment of the patient's illness or injury.</p>
                                </div>
                            </div>
                            <div class="single-slide">
                                <div class="slide-img">
                                    <img src="@Url.Content("~/Content/Medino/assets/")images/department1.jpg" alt="" class="img-fluid">
                                    <div class="hover-state">
                                        <a href=""><i class="fa fa-stethoscope"></i></a>
                                    </div>
                                </div>
                                <div class="single-department item-padding text-center">
                                    <h3>Medicine</h3>
                                    <p> A physician is a practitioner who practices medicine and seeks to maintain and restore human health through the study, diagnosis, and treatment of the patient's illness or injury.</p>
                                </div>
                            </div>
                           

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Hotline area -->
        <section class="hotline-area text-center section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Emergency hotline</h2>
                        <span>(+880) – 152 132 612 9</span>
                        <p class="pt-3">We provide 24/7 customer support. Please feel free to contact us <br>for emergency case.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer Area Starts -->
        <footer class="footer-area section-padding">
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <span>

                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved
                            </span>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="social-icons">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End -->
        <!-- Javascript -->
        <script src="@Url.Content("~/Content/Medino/assets/")js/vendor/jquery-2.2.4.min.js"></script>
        <script src="@Url.Content("~/Content/Medino/assets/")js/vendor/bootstrap-4.1.3.min.js"></script>
        <script src="@Url.Content("~/Content/Medino/assets/")js/vendor/wow.min.js"></script>
        <script src="@Url.Content("~/Content/Medino/assets/")js/vendor/owl-carousel.min.js"></script>
        <script src="@Url.Content("~/Content/Medino/assets/")js/vendor/jquery.datetimepicker.full.min.js"></script>
        <script src="@Url.Content("~/Content/Medino/assets/")js/vendor/jquery.nice-select.min.js"></script>
        <script src="@Url.Content("~/Content/Medino/assets/")js/vendor/superfish.min.js"></script>
        <script src="@Url.Content("~/Content/Medino/assets/")js/main.js"></script>
        <div>
            @RenderBody()
        </div>
    </body>



    
</body>
</html>
